.advantages__list {
<<<<<<< HEAD
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .advantage--main-item {
    background-color: @basic-blue;
    color: @basic-white;
    text-align: center;
  }
  .advantage__title {
    font-weight: bold;
    font-size: 18px;
  }
  .advantage__number,
  .advantage__description {
    line-height: 15px;
  }
  .advantage--sub-item {
    background-color: @basic-grey;
    text-align: center;
  }
=======
  padding: 0;
  margin: 0;
  list-style-type: none;
}
>>>>>>> 3538de3bc1e212efee7bedb74a1f9897988ae997
