.advantage__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantage__number,
.advantage__description {
  font-size: 14px;
  line-height: 21px;
}

.advantage--icon {
  @media (max-width: @mobile-width-only) {
    position: relative;
    text-align: inherit;
    height: 137px;
    padding: 4px 0 10px 22%;
  }

  @media (min-width: @tablet-width) {
    height: 330px;
    padding: 60px 34px 80px 34px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 50px 80px 50px;
  }
}

.advantage--icon:nth-child(2) {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.advantage__svg {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 10%;
  }
}

.advantage--sub-item {
  text-align: center;
  padding: 7px 35px 5px 35px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 20px 39px 10px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 58px 43px 58px;
  }
}

.advantage--main-item {
  padding: 25px 10px 22px 9px;

  @media (min-width: @tablet-width) {
    width: 33%;
    padding: 20px 29px 30px 29px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 58px 60px 60px;
  }
}

.advantage--main-item:last-child {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.advantage__image {
  @media (min-width: @tablet-width) {
    width: 67%;
  }
}

.image--last {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}
