.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.advantages__item {
  width: 100%;

  @media (min-width: @tablet-width) {
    text-align: center;
  }
}
