.feedback {
  text-align: center;
}
.fieldset__legend {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.field__label {
  font-size: 14px;
  color: @light-black;
}
.field__label--bold {
  font-weight: bold;
}
