.field {
  display: flex;
  margin-top: 13px;
  margin-bottom: 7px;

  &--vertical {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  &--textarea {
    margin-top: 8px;
    height: 160px;
  }
}

.field__label {
  padding: 17px 14px 9px 2px;
  font-size: 14px;

  &--bold {
    padding: 17px 18px 6px 32px;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
  }

  &--vertical {
    padding: 11px 14px 9px 24px;
  }

  &--squad {
    padding: 16px 12px 18px 34px;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
  }
}

.field__input {
  height: 58px;
  width: 100%;
  padding-left: 23px;
  font-weight: bold;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @light-grey;
  border: none;

  &::placeholder {
    color: @basic-black;
  }

  &--textarea {
    height: 160px;
    padding-top: 12px;
    padding-left: 22px;
    line-height: 26px;
}
  }
}

.field__init {
  &:checked ~ .field__radio::before {
    opacity: 1;
  }
}

.field__radio {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: @light-grey;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-color: @basic-black;
    width: 18px;
    height: 18px;
    opacity: 0;
    border-radius: 50%;
    top: 15px;
    left: 15px;
  }
}
