.fieldset__legend {
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.fieldset__content {
  display: flex;
  flex-direction: column;
}
