.fieldset__legend {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.field__label {
  font-size: 14px;

  &--bold {
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
  }
}

.field__input {
  font-weight: bold;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @light-grey;

  &::placeholder {
    color: @basic-black;
  }
}
