.filters__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    grid-template-areas:
      "impression introduce"
      "contact contact"
      "attractions attractions"
      "emotion emotion"
      "footer footer";
  }
}

.filters__fieldset {
  border: none;
  border-top: 1px solid @border-grey;
}

.filters__button {
  padding: 14px 35.5px 17px 35.5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: @basic-blue;
  color: @basic-white;
  text-decoration: none;
  border: none;

  @media (max-width: @mobile-width-only) {
    margin: 0 auto;
  }
}

.filters__fieldset:nth-child(1) {
  grid-area: introduce;
}

.filters__fieldset:nth-child(2) {
  grid-area: contact;
}

.filters__fieldset:nth-child(3) {
  grid-area: impression;
}

.filters__fieldset:nth-child(4) {
  grid-area: attractions;
}

.filters__fieldset:nth-child(5) {
  grid-area: emotion;
}

.filters__footer {
  grid-area: footer;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.filters__legend {
  font-size: 14px;
  color: @light-black;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
