.filters__fieldset {
  border: none;
  border-top: 1px solid @border-grey;
}

.filters__button {
  padding: 14px 35.5px 17px 35.5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: @basic-blue;
  color: @basic-white;
  text-decoration: none;
  border: none;
}
