.filters__wrapper {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
    grid-template-areas:
      "impression impression introduce introduce"
      "contact contact contact contact"
      "attractions attractions attractions attractions"
      "emotion emotion emotion emotion";
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
    grid-template-areas:
      "impression impression introduce introduce"
      "contact contact contact contact"
      "attractions attractions attractions attractions"
      "emotion emotion emotion emotion";
  }
}

.filters__fieldset {
  border: none;
  border-top: 1px solid @border-grey;
}

.filters__button {
  padding: 14px 35.5px 17px 35.5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: @basic-blue;
  color: @basic-white;
  text-decoration: none;
  border: none;
}

.filters__fieldset:nth-child(1) {
  grid-area: introduce;
  width: 100%;
  height: 200px;
}

.filters__fieldset:nth-child(3) {
  grid-area: impression;
  width: 100%;
  height: 200px;
}

.filters__fieldset:nth-child(2) {
  grid-area: contact;
  width: 100%;
  height: 200px;
}

.filters__fieldset:nth-child(4) {
  grid-area: attractions;
  width: 100%;
  height: 200px;
}

.filters__fieldset:nth-child(5) {
  grid-area: emotion;
  width: 100%;
  height: 200px;
}
