.main-nav {
  position: relative;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 55px;
  cursor: pointer;
  border: none;
  background: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 4px;
  background-color: @basic-blue;
  box-shadow: 0 9px 0 0 @basic-blue, 0 18px 0 0 @basic-blue;
}

.main-nav--open {
  // background: url("../../img/icon-cross.svg") no-repeat 50% 50%;
  // background-size: 23px 22px;
  // fill: "white";

  // &:hover {
  //   opacity: 0.7;
  // }

  // &:active {
  //   opacity: 0.5;
  // }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 22px;
    width: 24px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav__wrapper--closed {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
