.page-footer__wrapper {
  padding-top: 35px;
  margin-left: 84px;
  margin-right: 84px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.page-footer__title {
  padding-left: 5px;
  font-weight: bold;
  font-size: 21px;
}

.page-footer__copyright {
  display: flex;
  padding-left: 15px;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
    padding-left: 0px;
  }
}
