.page-main__greet {
  text-align: center;
}

.page-main__greet-title {
  font-weight: bold;
  font-size: 18px;
}

.page-main__greet-subtitle {
  font-size: 14px;
  color: @light-black;
}

.page-main__greeting {
  background-image: url("../img/back-desktop.png");
  background-repeat: no-repeat;
}

.page-main__svg {
  display: block;
  margin: 0 auto;
  padding: 90px 0 80px 0;
}
/*PAGE FORM*/
.page-main__title {
  background-image: url("../img/back-desktop-2.png");
  background-repeat: no-repeat;
}
