.page {
  height: 100%;
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
}

.page__body {
  background-color: @basic-white;
  text-transform: uppercase;
}
<<<<<<< HEAD
.button {
  background-color: @basic-blue;
  color: @basic-white;
  padding: 14px 35.5px 17px 35.5px;;
  font-weight: bold;
  text-decoration: none;
}
=======
>>>>>>> 3538de3bc1e212efee7bedb74a1f9897988ae997
