.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  order: 2;
  height: 56px;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    height: 80px;
    transform: translateX(-45%);
  }
}
