.page-footer__wrapper {
  margin-left: 90px;
  margin-right: 87px;
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 30px;
  }
}

.page-footer__title {
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
  font-size: 21px;
}

.page-footer__copyright {
  display: flex;
  margin-top: 45px;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 3px;
    margin-right: -5px;
  }
}
