.page-main__greet {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 43px 124px 52px 124px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 358px 20px 358px;
  }
}

.page-main__greet-title {
  font-weight: bold;
  font-size: 18px;
}

.page-main__greet-subtitle {
  font-size: 14px;
  color: @light-black;
}

.page-main__greeting {
  height: 520px;
  background-image: url("../img/back-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-main__svg {
  display: block;
  margin: 0 auto;
  padding: 77px 0 93px 0;;
}
/*PAGE FORM*/
.page-main__title {
  background-image: url("../img/back-desktop-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
