.photo__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-template-areas:
      "impression impression introduce introduce"
      "contact contact contact contact"
      "attractions attractions attractions attractions"
      "emotion emotion emotion emotion"
    }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-template-areas:
      "impression impression introduce introduce"
      "contact contact contact contact"
      "attractions attractions attractions attractions"
      "emotion emotion emotion emotion"
  }
  */
}
