.photo__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photo__item {
  position: relative;
  padding: 23px 0;
  font-size: 14px;
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
  }
}

.photo__item--main {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}
