.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @basic-blue;

  &:hover {
    background-color: @blue-button-hover;
  }

  &:active {
    background-color: @blue-button-active;
  }
}
