/// Color

@basic-white: #ffffff;
@basic-black: #000000;
@light-black: #333333;
@basic-blue:  #81B3D2;
@basic-grey: #EEEEEE;
@light-grey: #F2F2F2;
@border-grey: #E5E5E5;
@form-grey: #E6E6E6;
@grey: #EAEAEA;
@border-top-color:  rgba(255, 255, 255, 0.2);
@border-bottom-color: rgba(1, 1, 1, 0.2);
@blue-button-hover: #669EC0;
@blue-button-active: #5496BD;
@text-active: rgba(255, 255, 255, 0.3);

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
